<div class="w-[650px] bg-white rounded-lg shadow p-6 mb-8">

  <div class="flex justify-center w-full">
    <div class="flex-shrink-0 mr-5">
      <!-- Avatar -->
      <div class="
        cursor-pointer
        font-bold
        w-12
        h-12
        bg-gray-300
        flex
        items-center
        justify-center
        rounded-full
      ">
        R
      </div>
    </div>
    <!-- Formulário -->
    <div class="flex-1">
      <!-- Text Area -->
      <textarea class="
        mb-2
      bg-gray-200
        focus:outline-none
        focus:shadow-outline
      focus:bg-gray-100
        border
        border-transparent
        rounded-lg
        py-2
        px-4
        block w-full
        appearance-none
        font-light
        resize-none
        placeholder-gray-700"
        rows="3"
        placeholder="What's happening..."
        maxlength="240">
      </textarea>

      <!-- Divider Line -->

      <div class="w-auto border rounded-lg"></div>

      <!-- Interação -->

      <div class="flex justify-end items-baseline">
        <!-- Contador -->

        <div class="mr-5 font-thin text-gray-500">
          <p>240</p>
        </div>

        <!-- Botão -->

        <div class="mt-5">
          <button class="
            w-32
            focus:outline-none
            border
            border-transparent
            py-2
            px-5
            rounded-lg
            bg-blue-500
            hover:bg-blue-600
            font-medium
            text-white
            text-center
          "
          type="button">
            Tweet
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
